button{
    font-size: 20px;
    cursor: pointer;
    width: 100px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form label span{
    display: block;
}
input[type="text"]{
    padding: 5px;
    margin-top: 5px;
}